@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');



:root {

    --cor-principal: #72A0C1;

    --cor-secundaria: #F0F8FF;

    --cor-destaque: #5D8AA8;

}



body {

    font-family: 'Acme', sans-serif;

    color: var(--cor-principal);

}



h1, h2, h5 {

    color: var(--cor-secundaria);

    font-weight: 700;

}



.lead, .btn-link {

    color: var(--cor-destaque);

    font-weight: 700;

}



a, .btn-link:hover {

    color: var(--cor-principal)

}



a:hover{

    color: var(--cor-destaque);

}

